<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BasicHttpBinding_KareoServices">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
                    <!--    <wsdl:binding name='BasicHttpBinding_KareoServices'>    -->
                    <!--        <TransportBindingElementImporter.TransportUri xmlns="http://tempuri.org/temporaryworkaround">..</TransportBindingElementImporter.TransportUri>    -->
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://webservice.kareo.com/services/soap/2.1/KareoServices.svc"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_KareoServices"
                contract="kareo.wsdl.KareoServices.KareoServices" name="BasicHttpBinding_KareoServices" />
        </client>
    </system.serviceModel>
</configuration>